/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights


- Letter spacing
-0.5px
0.75px

--- 02 COLORS
- Primary:
#191919
#333333
#fafafa
#f5f5f5 
- Tints:
- Shades: 
- Accents:
#d3af37
- Greys

--- 05 SHADOWS
N/A

--- 06 BORDER-RADIUS
N/A

--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: none;
  /* Not compatible with all browsers */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333333;
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/**********************************/
/* GENRAL REUSABLE COMPONENTS */
/**********************************/
.container {
  /* 1400px */
  max-width: 140rem;
  text-align: center;
  /* Horizontally centers div */
  margin: 0 auto;
}

.heading-secondary {
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 600;
  color: #333333;
  letter-spacing: 0.5px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
  text-align: left;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 600;
  color: #333333;
  letter-spacing: -0.5px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4.8rem;
}

.text {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 500;
  color: #333333;
  font-family: 'Nunito', sans-serif;
}
/* HELPER/SETTINGS CLASSES */

